/** CSS STYLE **/
:root {
  --blue: #1085c5;
  --brown: #b09a81;
  --dark: #2a2626;
  --hover-main: #ea7600;
  --light: #f5f4f0;
  --main-dark: #42413c;
  --main: #fe8a02;
  --translucent-dark: #908d8b;
  --translucent-white: #d7ccc0;
  --white: #fff;
  --background-url: url("../assets/images/background.png");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

body {
  width: 1440px;

  margin: 0 auto;

  color: var(--main);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 { font-size: 72px; }

h2 { font-size: 60px; }

h3 { font-size: 34px; }

h4 { font-size: 14px; }

.heading-inner {
  color: var(--dark);
}

.container {
  position: relative;
}

.container::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: var(--background-url);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.container_background_light {
  background: var(--light);
}

.container_background_brown {
  background: var(--brown);
}

.section {
  position: relative;
  z-index: 1;

  width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.section__image {
  position: absolute;

  top: 55px;
  right: -270px;

  z-index: -1;

  height: 525px;
}

.text-section {
  display: flex;
  margin-top: 185px;

  color: var(--dark);
  line-height: 25px;

  column-gap: 30px;
}

.text-section > * {
  width: 50%;
}

.text-section__link {
  display: inline-flex;

  margin-top: 23px;
  padding: 12px 24px;

  color: var(--white);

  font-weight: bold;

  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main);
}

.text-section__link:hover {
  background-color: var(--hover-main);
}

.video-container {
  position: relative;

  height: 806px;

  background: var(--white);
}

.video-container .section {
  top: 100px;

  padding: 0;

  text-align: center;
}

.mailing-form p {
  margin-top: 37px;
  margin-bottom: 9px;

  font-size: 18px;
  line-height: 29px;
}

.contact-information p {
  margin: 16px 0;
}

.navigation-link p {
  margin-top: 13px;

  margin-bottom: 0;

  color: var(--dark);

  line-height: 25px;
}

.video-container .section p {
  margin: 30px 0;

  color: var(--dark);
}

.video-frame {
  display: block;

  margin: 0 auto;

  border: none;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.mailing-form {
  display: flex;

  padding: 0 55px;

  color: var(--white);

  column-gap: 30px;

  background-color: var(--main-dark);
}

.mailing-form > * {
  width: 50%;
}

.mailing-form h3 {
  margin: 55px 0;

  line-height: 40px;
}

.input-wrapper {
  display: flex;
}

.input-wrapper input {
  box-sizing: border-box;

  width: 415px;
  height: 50px;

  margin: 0;
  padding: 15px;

  border: 1px solid #e3e3e3;

  border-right: 0;
}

.input-wrapper input::placeholder {
  color: #757575;

  font-size: 13.5px;
  line-height: 21px;

  opacity: 0.2;
}

.input-wrapper button {
  position: relative;

  width: 70px;
  height: 50px;

  margin: 0;
  padding: 0;

  background-color: var(--main);

  border: none;
}

.input-wrapper button:hover {
  background-color: var(--hover-main);
  cursor: pointer;
}

.input-wrapper button::before {
  position: absolute;

  top: 13px;
  left: 23px;

  width: 24px;
  height: 24px;

  background-image: url("../assets/images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.mailing-form .mailing-form__agreement-text {
  margin: 0;

  font-size: 12px;
  line-height: 23px;
}

.mailing-form__agreement-text a {
  color: var(--white);
}

.contact-information {
  margin-top: 76px;

  color: black;

  font-size: 14px;
  line-height: 22px;

  text-align: center;
}

.contact-information a {
  color: #1085c5;

  text-decoration-line: underline;
}

.navigation-container {
  background: var(--main-dark);
}

.navigation-container .section {
  padding-top: 200px;
}

.navigation {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;

  column-gap: 30px;
  row-gap: 20px;
}

.navigation > * {
  max-width: 350px;
}

.navigation > h2 {
  font-size: 52px;

  line-height: 120%;
}

.navigation .heading-inner {
  color: var(--white);
}

.navigation-link {
  display: block;
  box-sizing: border-box;
  padding: 24px;

  text-decoration: none;

  background-color: var(--light);
}

.navigation-link:hover {
  background-color: var(--main);
}

.navigation-link:hover > * {
  color: var(--white);
}

.navigation-link .navigation-link__number {
  margin-top: 0;
  margin-bottom: 35px;

  color: var(--main-dark);

  font-size: 64px;

  font-family: Neucha, sans-serif;

  line-height: 70px;
}

.navigation-link:hover .navigation-link__number {
  color: var(--white);
}

.navigation-link h3 {
  color: var(--main);

  line-height: 41px;
}

.picture-section {
  display: flex;

  column-gap: 30px;
}

.picture-section img {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.picture-section__text {
  margin: 0;

  font-size: 24px;
  font-family: Neucha, sans-serif;
  line-height: 29px;
}

.picture-section__congnitive-biases-text {
  margin-top: 30px;

  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 40px;
}

.container_background_light .picture-section__text {
  color: var(--translucent-dark);
}

.container_background_brown .picture-section__text {
  color: var(--translucent-white);
}

.container_background_light h2,
.container_background_light .picture-section__congnitive-biases-text {
  color: var(--dark);
}

.container_background_brown h2,
.container_background_brown .picture-section__congnitive-biases-text {
  color: var(--white);
}

.how-work-section {
  margin-top: 100px;
}

.how-work-section h4 {
  margin: 0;
  padding-left: 10px;

  line-height: 26px;
  text-transform: uppercase;
}

.container_background_light h4 {
  color: var(--white);

  background-color: var(--brown);
}

.container_background_brown h4 {
  color: var(--brown);

  background-color: var(--white);
}

.how-work-section__text-section {
  display: flex;

  line-height: 25px;

  column-gap: 30px;
}

.how-work-section .how-work-section__text-section > * {
  width: 50%;
}

.how-work-section .how-work-section__text-section > p {
  margin-top: 20px;
  margin-bottom: 0;
}

.container_background_light .how-work-section__text-section {
  color: var(--dark);
}

.container_background_brown .how-work-section__text-section {
  color: var(--white);
}

.how-work-section .how-work-section__text-section > div {
  margin-top: 20px;
}

.how-work-section .how-work-section__text-section > div > p {
  margin-top: 0;
  margin-bottom: 16px;
}
