/** CSS STYLE **/
:root {
  --blue: #1085c5;
  --brown: #b09a81;
  --dark: #2a2626;
  --hover-main: #ea7600;
  --light: #f5f4f0;
  --main-dark: #42413c;
  --main: #fe8a02;
  --translucent-dark: #908d8b;
  --translucent-white: #d7ccc0;
  --white: #fff;
  --background-url: url("../assets/images/background.png");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

body {
  width: 1440px;

  margin: 0 auto;

  color: var(--main);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 { font-size: 72px; }

h2 { font-size: 60px; }

h3 { font-size: 34px; }

.heading-inner {
  color: var(--dark);
}

.container::before {
  position: absolute;

  max-width: 100%;

  vertical-align: middle;

  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: var(--background-url);
}

.container_background_light {
  background: var(--light);
}

.container_background_brown {
  background: var(--brown);
}

.section {
  position: relative;
  z-index: 1;

  width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.section__image {
  position: absolute;

  top: 55px;
  right: -270px;

  z-index: -1;

  height: 525px;
}

.text-section {
  display: flex;
  margin-top: 185px;

  color: var(--dark);
  line-height: 25px;

  column-gap: 30px;
}

.text-section > * {
  width: 50%;
}

.text-section__link {
  display: inline-flex;

  margin-top: 24px;
  padding: 12px 24px;

  color: var(--white);

  font-weight: bold;

  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main);
}

.text-section__link:hover {
  background-color: var(--hover-main);
}

.video-container {
  position: relative;

  height: 806px;

  background: var(--white);
}

.video-container .section {
  top: 100px;

  padding: 0;

  text-align: center;
}

.video-container .section p {
  margin: 30px 0;

  color: var(--dark);
}

.video-frame {
  display: block;

  margin: 0 auto;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.navigation-container {
  background: var(--main-dark);
}

.navigation-container .section {
  padding-top: 200px;
}

.navigation {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;

  column-gap: 30px;
  row-gap: 20px;
}

.navigation > * {
  max-width: 350px;
}

.navigation > h2 {
  font-size: 52px;

  line-height: 120%;
}

.navigation .heading-inner {
  color: var(--white);
}

.navigation__link {
  display: block;
  box-sizing: border-box;
  padding: 24px;

  text-decoration: none;

  background-color: var(--light);
}

.navigation__link:hover {
  background-color: var(--main);
}

.navigation__link:hover > * {
  color: var(--white);
}

.navigation__link h2 {
  margin-bottom: 35px;

  color: var(--main-dark);

  font-size: 64px;

  line-height: 70px;
}

.navigation__link h3 {
  color: var(--main);

  line-height: 41px;
}

.navigation .navigation__link p {
  margin-top: 13px;

  margin-bottom: 0;

  color: var(--dark);

  line-height: 25px;
}
